@media (prefers-color-scheme: light) {
  html {
    color-scheme: light;
  }

  :root {
    --link-color: #0000ff;
    --link-hover-color: #0000ff;
    --main-foreground-color: #222;
    --main-background-color: #eee;
  }
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }

  :root {
    --link-color: #ffffff;
    --link-hover-color: #ffffff;
    --main-foreground-color: #eee;
    --main-background-color: #1d1d21;
  }
}
